<!DOCTYPE html>
<html>
<head>
    <title>Purchase List</title>
</head>
<body>
    <h1>Purchase List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Channel</th>
            <th>Date</th>
            <th>Price</th>
        </tr>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.name }}</td>
                <td>{{ purchase.category }}</td>
                <td>{{ purchase.channel }}</td>
                <td>{{ purchase.date | date:"d m Y" }}</td>
                <td>{{ purchase.price }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
